.dash-course-holder{
    margin-top: 13vh;
    padding: 10px 0px 40px 0px;
}

.dash-course-holder h1{
    text-align: left;
    color: white;
    font-size: 45px;
}

.dash-course-holder h2{
    text-align: left;
    color: white;
    font-size: 20px;
}