.bottom-nav{
    max-width: 100%;
    height: 17vh;
    position: fixed;
    right: 25px;
    bottom: 29px;
}

.content{
    background: rgb(47, 110, 107);
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btmshow{
    display: none;
}
.short-link{
    color: white;
    padding: 12px;
}

.short-link-icon{
    font-size: 14px;
    padding: 3px;
    border:2px solid white;
}

.short-link-icon:hover{
    /* font-size: 20px; */
    border:2px solid black;
    padding: 3px;
    background-color: white;
    color: black;
}


@media screen and (max-width:1450px) {
    .bottom-nav{
        right: 5px;
    }
    .short-link-icon{
        font-size: 12px;
    }

    .short-link-icon:hover{
        font-size: 12px;
        border:2px solid black;
        padding: 3px;
        background-color: white;
        color: black;
    }
}