.banner{
    position: relative;
    max-width: 2000;
    margin: 0 auto;
    height: 70vh;
}

.banner img{
    height: 100%;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom , rgba(163, 164, 165, 0.6),rgba(47, 110, 107,0.8));
}

.info-box{
    position: absolute;
    width: 70%;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);
    height: auto;
}

.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-btn{
    font-size: 25px;
    color: white;
    font-weight: 900;
}

.dis{
    font-size: 25px;
    color: rgb(190, 189, 189);
    font-weight: 900;
}

.info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1{
    color: white;
    font-size: 55px;
    line-height: 55px;
}

.info p{
    color: white;
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
}

.info button{
    margin-top: 20px;
    padding: 8px 60px;
    background-color: white;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    gap: 2px;
}

@media screen and (max-width:800px) {
    .banner{
        height: 60vh;
    }

    .info-box{
        width: 90%;
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .info h1{
        color: white;
        font-size: 25px;
        line-height: 25px;
    }
    
    .info p{
        color: white;
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
    }

    
    .info button{
        margin-top: 20px;
        padding: 6px 20px;
        background-color: white;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        gap: 2px;
    }

}